/* Home.css */
.home {
    text-align: center;
    color: #333;
    background-color: rgb(216, 214, 214);
  }
  
  .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('image1.gifsrc/assets/image1.gif'); /* Update this path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    margin-top: -60px; /* Adjust this value to ensure the header starts from the top */
  }
  
  .home-header h1 {
    color: black;
    font-size: 3em;
    margin: 0.5em 0;
  }
  
  .home-header p {
    color: black;
    font-size: 1.5em;
    margin: 0.5em 0;
  }
  
  .btn-primary {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #2b2e31;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #33373b;
  }
  .btn{
    color: white;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .home-header h1 {
      font-size: 2.5em;
    }
  
    .home-header p {
      font-size: 1.2em;
    }
  
    .btn-primary {
      font-size: 1em;
    }
  }
  